.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-sm {
    gap: 0.5rem;
}

.gap-md {
    gap: 1rem;
}

.gap-lg {
    gap: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.w-full {
    width: 100%;
}